@import "tailwindcss";

body {
  background-color: #030712;
  @apply text-white antialiased selection:bg-purple-500/30 selection:text-purple-200;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}